PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb+srv://sakshee2022_db_user:dA1SkrizUc1clebd@cluster0.aesmdwk.mongodb.net/event-booking?retryWrites=true&w=majority

JWT_SECRET=change-this-to-a-random-32-character-string-in-production
JWT_EXPIRE=7d

STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here

FRONTEND_URL=http://localhost:5173

